body {
  margin: 0;
}

.page-header {
  background: #14375a;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  border: none;
  color: #FFF;
}

.page-header h1, .actionbtns {
  vertical-align: middle;
  display: inline;
}

.actionbtns {
 position: absolute;
 right: 15px;
 margin-right: 10px;
}

.att {
	cursor: pointer;
  color: #1856ba;
}
	
	.att:hover {
		text-decoration: underline;
	}

img.attachmentpreview {
	height: 200px;
	width: 250px;
	border: 1px solid #000;
}

#attachmentcontainer, #hideatt {
  display: none;
}

.tdlabel {
  background-color: #eee;
  width:25%;
}

.alert {
  color: red;
}